/* Resetting default margin and height for HTML */
html {
  height: 100%;
  margin: 0;
}

/* Setting the base styles for the body */
body {
  font-family: 'Spartan', 'Montserrat', 'Futura', sans-serif;
  font-size: 22px;
  background-color: #EBE0C8;
  margin: 0;
}

/* Styling for the banner section */
.banner {
  line-height: 2; /* Adjusting line height */
  display: inline-flex; /* Using flexbox for layout */
  justify-content: space-between; /* Distribute items along the main axis with space between them */
  align-items: center; /* Center items vertically in the container */
  padding: 10px; /* Add padding for spacing inside the container */
}

/* Styling for the h1 within the banner */
.banner h1 {
  font-size: 4rem;
  margin: 0; /* Remove default margin for h1 to avoid extra space */
  color: #254252; /* Setting text color */
}

/* Styling for the navigation within the banner */
.banner nav {
  margin-left: 230px; /* Adjusting the left margin for navigation */
}

/* Styling for links within the banner */
.banner a {
  text-decoration: none;
  color: #254252; /* Setting link color */
}

/* Styling for link hover effect */
.banner a:hover {
  color: #E0672F; /* Changing color on hover */
}

/* Styling for span hover effect */
.banner a:hover .split{
  color: #254252; /* Changing color on hover */
}

/* Styling for the hero banner section */
.herobanner {
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

/* Styling for images within the hero banner */
.herobanner img {
  width: 100%;
  height: 40%;
  object-fit: cover;
  display: block;
  z-index: 0;
  filter: grayscale(50%);
}

/* Styling for paragraphs within the hero banner */

.chooselife {
  font-size: 1.75vw;
  font-style: italic;
  color: #EBE0C8;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)

}

/* Styling for paragraphs in general */
p {
  text-align: center;
}

.about p{
  margin-top: 150px;
}

/* Styling for the form */
form {
  text-align: center;
  line-height: 50px;
}

/* Styling for additional form fields */
#additionalFields {
  display: none;
}

#additionalFieldsTwo {
  display: none;
}

/* Styling for the output div */
#outputDiv {
  margin-left: 100px;
  margin-right: 100px;
  border: #254252;
  border-radius: 30px;
  background-color: aliceblue;
  font-size: 18px;
  height: 100%;
}



@media only screen and (max-width: 480px) {
  Body {
   Font-size: 12px;
 }
 .banner{
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
 }
.banner nav{
margin-left: O;
margin-top: 10px;
}

.herobanner img{
  height:auto;
}

.chooselife{
  font-size: 1.75vw;
}
}


